/* SearchInput.css */

.search-container {
  position: relative;
  max-width: 36rem;
  width: 100%;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 12px;
  height: 24px;
  width: 24px;
  color: #535e65;
}

.search-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background-color: #ebecef;
  padding: 8px 25px 8px 40px;
  color: #535e65;
  font-size: 16px;
  font-weight: 700;
}

.search-input:focus {
  outline: none;
}
