/* BidNavbar.css */

.bidnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  margin-bottom: 10px;
}

.bidnav-section {
  display: flex;
  align-items: center;
}

.bidnav-item {
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #999;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.05s ease;
  position: relative;
  overflow: hidden;
}

.bidnav-item.active,
.bidnav-item:hover {
  background-color: transparent;
  color: black;
}

.bidnav-item.active {
  border-bottom: 2px solid black;
  color: black;
}

.back-arrow-button {
  background: none;
  border: none;
  color: #333;
  transition: color 0.05s ease;
  cursor: pointer;
  margin: 0;
}
