/* BidNavbar.css */

.bidnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  margin-bottom: 10px;
}

.bidnav-section {
  display: flex;
  align-items: center;
}

.bidnav-item {
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.bidnav-item.active,
.bidnav-item:hover {
  background-color: orange;
  color: black;
}

.back-button {
  background: none;
  border: none;
  color: #333;
  /* Adjust color as needed */
  padding: 0 !important;
  transition: color 0.3s ease;
  cursor: pointer;
  margin-right: 8px;
}
