.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%) !important;
    height: 80px;
    align-items: center;
    margin-bottom: 10px;
    z-index: 1000;
    position: relative;
    width: 100vw;
}

.navbar-brand,
.nav-link {
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.nav-link {
    font-size: 16px;
}

.navbar-brand {
    margin-left: 1rem;
    font-size: 1.8rem;
}

.navbar-nav .nav-item:last-child .nav-link {
    margin-right: 1rem;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: black;
    }
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #ddd;
    transition: all 0.2s ease-out;
}

.navbar-nav .nav-link.active {
    border-bottom: 3px solid white;
}

.navbar-nav {
    margin-left: auto;
}