.sidebar::-webkit-scrollbar {
    display: none;
    /* This should force the scrollbar to be visible */
}

.sidebar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* Adjust height as needed or consider using min-height for dynamic content */
    min-height: 100%;
    width: 240px;
    height: 90vh;
    /* Adjust width as needed */
    position: fixed;
    z-index: 1;
    bottom: 0;
    /* Anchor to the bottom */
    left: 0;
    z-index: 0;
    background: #f0f0f0;
    overflow-x: hidden;
    overflow-y: scroll !important;
    padding-top: 20px;
    margin-left: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Add a border to the right side of the sidebar */
    border-right: 1px solid #ddd;
    /* Add some padding to the left */
}

.sidebar-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* Allows this container to scroll independently if needed */
}

.sidebar-link {
    font-size: 0.95rem !important;
    padding-top: 1.5% !important;
    padding-bottom: 1.5% !important;
}

.toggle-icon {
    font-size: 0.8rem;
    /* Smaller icon size */
    margin-left: auto;
    margin-right: 0.4rem;
    /* Pushes the icon to the far right */
}


/* Ensure the sidebar title container is a flexbox to align items properly */

.sidebar-top-title,
.sidebar-title,
.sidebar-subtitle {
    display: flex;
    justify-content: space-between;
    /* Distribute space between title and icon */
    align-items: center;
    /* Center items vertically */
}

.sidebar-top-title {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
    /* Adjust the font size as needed */
    color: black;
    padding: 10px;
    padding-bottom: 0;
    margin-left: 8px;
}

.sidebar-title {
    font-size: 22px;
    font-weight: 600;
    /* Adjust the font size as needed */
    color: black;
    padding: 10px;
    padding-bottom: 0;
    margin-left: 8px;
}

.sidebar-subtitle {
    font-size: 16px;
    font-weight: 500;
    /* Adjust the font size as needed */
    color: black;
    padding: 10px;
    padding-bottom: 0;
    margin-left: 10px;
}

.sidebar a {
    padding: 10px;
    /* Adjust padding for the size of the rectangle */
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-left: 20px;
    /* Smooth transition for background color */
}

.sidebar a:hover {
    color: black;
    /* Keep text color white on hover */
    background-color: orange;
    /* Grey background on hover */
}