.select-qasheet-modal-dialog {
  max-width: 75vw;
  width: 50vw;
}

.select-qasheet-modal-content {
  max-height: 65vh;
  overflow-y: auto;
}

.library-table {
  width: 100%;
  table-layout: fixed;
}

.library-table td {
  padding: 10px;
  vertical-align: middle;
}

.sheet-name {
  width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkbox-cell {
  width: 40px;
  text-align: right;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 6px;
}

.custom-checkbox input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox label {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 6px;
}

.custom-checkbox input:checked + label {
  background-color: #2196f3;
}

.custom-checkbox label:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + label:after {
  display: block;
}

.custom-checkbox label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
