/* VARIABLES */

:root {
    --c-dark: black;
    /* Darker shade for text and elements */
    --c-brand: #f58218;
    /* Primary brand color, set to black */
    --c-brand-light: #ffa654;
    /* Light variant of the brand color for backgrounds or light elements */
    --c-brand-rgb: 245, 130, 24;
    /* RGB format of the brand color, useful for rgba() functions */
    --c-body: black;
    /* Body text color, set to a softer black for readability */
    --font-base: "ClashDisplay", sans-serif;
    /* Keeping the font same as before */
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    /* Slightly stronger box shadow for depth */
    --transition: all 0.5s ease;
    /* Keeping transitions the same */
}


/* RESET & HELPERS */

body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}


/* IMAGE ZOOM */

.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR */


/* Custom CSS for collapsed nav dropdown background */

@media (max-width: 991.5px) {
    .navbar .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
        position: absolute;
        box-sizing: border-box;
        margin: 0 !important;
        /* Resets margin */
        padding: 0 !important;
    }
    .navbar-collapse {
        position: fixed;
        top: 90px;
        /* Adjust based on your navbar height */
        left: 0;
        width: 100vw;
        background-color: white !important;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 4%;
        padding-top: 0%;
        z-index: 999;
        overflow-y: auto;
    }
    .navbar-brand {
        margin-right: auto;
        left: 0 !important;
        margin-left: 4%;
        /* Pushes all other items to the opposite side */
    }
    .navbar-toggler {
        right: 0 !important;
        box-shadow: none !important;
        margin-left: auto;
        margin-right: 4%;
    }
    .navbar-toggler .fas {
        color: black !important;
        right: 0 !important;
    }
}

.navbar {
    box-shadow: var(--box-shadow);
    height: 100px;
}

.navbar .container-fluid {
    padding-left: calc(8% + 1vw);
    padding-right: calc(8% + 1vw);
}

.container-fluid {
    padding-left: calc(8% + 1vw);
    padding-right: calc(8% + 1vw);
}

.navbar-toggler {
    box-shadow: none !important;
    border: none !important;
}

.navbar-toggler .fas {
    color: black !important;
}

.navbar-brand:before {
    content: '';
    display: inline-block;
    background: url('../images/mytender.io_badge.png') no-repeat center center;
    background-size: contain;
    /* Adjust as needed */
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    padding: 0;
    margin-right: 10px;
    vertical-align: middle;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}


/* Show dropdown on hover */

.navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


/* Optional: change the appearance of the dropdown link on hover */

.navbar .nav-item.dropdown:hover>.nav-link {
    color: #0056b3;
    /* Example color: Bootstrap's default link color */
}


/* Remove the down arrows from dropdown toggles */

.navbar .dropdown-toggle::after {
    content: none !important;
}


/* Keep dropdown open when hovering over the dropdown menu itself */

.dropdown-menu:hover {
    display: block;
}


/* Media query for small screens */

@media (max-width: 450px) {
    h1.display-2 {
        font-size: 1.6rem !important;
        /* Reduced font size for small screens */
    }
    #hero h4 {
        font-size: 1.2rem !important;
        /* You can also use a specific size like 16px */
    }
}

.small-video {
    width: 100% !important;
    /* This makes the video responsive */
    height: auto !important;
    /* Maintain aspect ratio */
    /* This maintains the aspect ratio */
}

@media (max-width: 991.5px) {
    .small-video {
        margin-top: 5%;
    }
}

@media (max-width: 600.5px) {
    .small-video {
        margin-top: 5%;
    }
    h1.display-2 {
        font-size: 1.9rem;
        /* Reduced font size for small screens */
    }
    #hero h4 {
        font-size: 1.6rem;
        /* You can also use a specific size like 16px */
    }
}


/* BTN */

.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: #f58218;
    border-color: #f58218;
    color: white;
}

.btn-light {
    z-index: 1000;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}


/* HERO */

#hero .bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../images/hero.jpg');
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
}

#heroservices .services-bg-image-it {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/itservices.jpg') center / cover no-repeat;
    z-index: -1;
}

#heroservices .services-bg-image-finance {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/finance.jpg') center / cover no-repeat;
    z-index: -1;
}

#heroservices .services-bg-image-facility {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/construction.jpg') center / cover no-repeat;
    z-index: -1;
}

#heroservices .services-bg-image-healthcare {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/healthcare.jpg') center / cover no-repeat;
    z-index: -1;
}

#heroservices .services-bg-image-telecoms {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/telecoms.jpg') center / cover no-repeat;
    z-index: -1;
}

#heroservices .services-bg-image-publicsector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/publicsector.jpg') center / cover no-repeat;
    z-index: -1;
}

#heroservices {
    position: relative;
    height: 250px;
    /* Adjust based on your needs */
}

#hero {
    position: relative;
    overflow: hidden;
}

.text-brand {
    color: #f58218;
}

.nowrap {
    white-space: nowrap;
}

.hero-wrapper {
    position: relative;
    z-index: 1;
}

.hero-btn {
    z-index: 100;
}

#particles-js {
    pointer-events: none;
}


/* SECTION TITLE */

.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.row strong {
    font-weight: 500;
    /* Adjust the font weight as needed */
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.round_iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
}


/* ICONBOX */

.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}


/* SERVICE */

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    /* Adjust this height as necessary */
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: black;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    color: var(--c-brand);
}


/* TRUST */

.centered-image {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 50px;
}

.centered-image-big {
    max-width: 450px;
    max-height: 300px;
}

.centered-image-medium {
    max-width: 350px;
    max-height: 300px;
}


/* Media query for smaller screens */

@media (max-width: 768px) {
    .centered-image {
        max-width: 300px !important;
    }
}


/* COUNTER */

#counter {
    background: black;
    background-size: cover;
}


/* PORTFOLIO */

.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}


/* REVIEW */

.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
    white-space: nowrap;
}

.review-head {
    position: relative;
}

.review-person {
    position: relative;
    width: 80px;
    height: 80px;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}


/* TEAM */


/* TEAM */

.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

.team-member-content a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    /* Adjust the pixel value to make the underline thicker */
}

.image-zoom-wrapper {
    width: 100%;
    /* Adjust if you want a different size, but make sure all are the same */
    height: 0;
    /* This will be set based on the padding-bottom for aspect ratio */
    padding-bottom: 100%;
    /* Adjust the percentage for the desired aspect ratio */
    position: relative;
    /* Needed for absolute positioning of the image */
}


/* Adjust image styling */

.image-zoom-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the whole area, may crop the image */
    position: absolute;
    top: 0;
    left: 0;
}


/* blog post */

@media (max-width: 768px) {
    .blog-post {
        margin-bottom: 20px;
    }
}

.blog-post {
    border-radius: var(--border-radius);
    background-color: var(--color-bg-1);
}

.blog-post img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
    height: 20vw;
    object-fit: cover;
    min-height: 200px !important;
}

.blog-post .title {
    line-height: 1.4;
}


/* CONTACT */

#contact {
    position: relative;
    z-index: 2;
    background: white;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: black;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}


/* FOOTER */

footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}