.navbar {
  height: 55px;
  align-items: center;
  position: fixed;
  background-image: linear-gradient(to right, #ff9900, #ff7f50);
  margin: 0;
  width: 100%;
  margin-bottom: 0;
  z-index: 1000;
  border: none;
  box-shadow: none;
  padding: 0;
  /* Set a high z-index to ensure the navbar is above other elements */
}

.navbar-brand,
.nav-link {
  color: black;
  font-weight: 600;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 15px;
}

.navbar-nav .nav-item:last-child .nav-link {
  margin-right: 15px;
  margin-left: 10px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: black;
  transition: all 0.2s ease-out;
}

.navbar-nav .nav-link.active {
  border-bottom: 3px solid black;
}

.navbar-nav {
  margin-left: auto;
}

.btn-dark.nav-link,
.btn-white.nav-link {
  border: none;
  width: 90px;
  padding: 6%;
  border-radius: 12px;
  display: inline-flex;
  /* Ensures flex alignment */
  align-items: center;
  /* Centers text vertically */
  justify-content: center;
  /* Centers text horizontally */
  text-decoration: none;
  /* Removes underline from links */
}

.btn-dark.nav-link {
  background-color: #262626 !important;
  color: white !important;
}

.btn-white.nav-link {
  background-color: white;
  color: black;
}
