{% extends "base.html" %}
{% block title %}  {% endblock %}
{% load static %}

{% block content %}



<section id="about" class="section-padding">
    <div class="container">
        <div class="row mb-0">
            <div class="col-12 text-center"   >
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">About us</h1>
                    <div class="line" ></div>
                    <p>The IQ, Strategy and People behind the AI
                    </p>

                </div>
            </div>
        </div>



        <div class="row px-2" style="font-size: 18px;">
          

            <h2>Introduction</h2>

            <p>Our team and product were founded at the University of Southampton with industry-leading professors and exceptionally talented AI, business, economics, and engineering personnel.</p>

            <p>Co-founder and CEO Samuel Aaron worked as part of a team at norlab.ai on augmenting AI into the NHS to save billions of pounds in record processing and took the extraordinary admin efficiencies to Co-founder and CTO Jamie Horsnell’s AI consultancy to build our own project and serve a new purpose.
            </p>

            <p>
                Finally, Co-founder and CPO Joshua Aaron gathered the resources to provide this service to businesses frustrated with the immense time and effort lost in writing tenders.
            </p>

            <p>We now have world-class commercial and technical skills from Mitie, Goldman Sachs, Bank of America, bid consultancies, and much more, working towards our mission to empower businesses with effective and efficient bid writing. So let's meet them.</p>

            <h2 >Our NED’s</h2>

            <div class="profile-container mt-3">
                <div class="profile">
                    <img src="{% static 'images/nicolas.png' %}" alt="Nicolas Dickreuter">
                    <p><strong>Nicolas Dickreuter, AI Principle:</strong> Having been VP and Lead Python Developer at Barclays and building Bank of America’s AI infrastructure, Nicolas can be regarded as a world-class AI Engineer and upholds the same standards as he leads the AI architecture of our solution.</p>
                </div>
                <div class="profile">
                    <img src="{% static 'images/colin.png' %}" alt="Colin Dobell">
                    <p><strong>Colin Dobell, Strategic Principle:</strong> Having built 2 start-ups acquired by Mitie and asked to be MD after both acquisitions, Colin provides strategic direction and insights to our team.</p>
                </div>
                <div class="profile">
                    <img src="{% static 'images/theresa.jpeg' %}" alt="Theresa Thom">
                    <p><strong>Theresa Thom, Product Principle:</strong> As the director of an international bid consultancy, with exceptional tender win rates, Theresa leads product development and reviews to ensure our service is built with the end-user in mind.</p>
                </div>
                <div class="profile">
                    <img src="{% static 'images/gerald.jpeg' %}" alt="Gerald Painter">
                    <p><strong>Gerald Painter, Commercial Principle:</strong> Having led global tech sales campaigns as CCO at Oracle, Dell, and Huawei, Gerald adds a savviness to mytender.io, giving us a competitive edge in our commercial offer; most importantly, building deals that add value to both of us.</p>
                </div>
               
            </div>
            
                        

        </div>

      
            <div class="container mt-5 mb-5">
              <div class="row">
                <div class="col-12 text-center">
                  <div class="section-title">
                    <h1 class="display-4 fw-semibold">Team Members</h1>
                    <div class="line"></div>
                    <p>Meet our dedicated team who combine expertise and passion to drive our success. Each member brings a wealth of experience and a unique perspective, contributing to our innovative approaches and solutions.</p>
                  </div>
                </div>
              </div>
                <div class="row ">
                    <div class="col-md-3 col-sm-6 col-12 mb-4">
                    <div class="team-member image-zoom">
                        <div class="image-zoom-wrapper">
                        <img src="{% static 'images/sam.jpg' %}" alt="">
                        </div>
                        <div class="team-member-content">
                            <a href="https://www.linkedin.com/in/samuel-aaron-9877561a9/">
                                <h5>Samuel Aaron</h5>
                            </a>
                        <p class="mb-0">Co-founder & CEO</p>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12 mb-4">
                        <div class="team-member image-zoom">
                            <div class="image-zoom-wrapper">
                            <img src="{% static 'images/jamie.jpg' %}" alt="">
                            </div>
                            <div class="team-member-content">
                                <a href="https://www.linkedin.com/in/jamie-horsnell-47347725b/">
                                    <h5>Jamie Horsnell</h5>
                                </a>
                                
                            <p class="mb-0">Co-founder &  CTO</p>
                            </div>
                        </div>
                        </div>
                  
                        <div class="col-md-3 col-sm-6 col-12 mb-4">
                            <div class="team-member image-zoom">
                                <div class="image-zoom-wrapper">
                                <img src="{% static 'images/josh.png' %}" alt="">
                                </div>
                                <div class="team-member-content">
                                 <a class="team-header" href="https://www.linkedin.com/in/joshua-aaron/">
                                    <h5>Joshua Aaron</h5>
                                </a>
                                <p class="mb-0">Co-founder & CPO
                                </p>
                                </div>
                            </div>
                            </div>
               
                    <div class="col-md-3 col-sm-6 col-12 mb-4">
                    <div class="team-member image-zoom">
                        <div class="image-zoom-wrapper">
                        <img src="{% static 'images/nicolas.png' %}" alt="">
                        </div>
                        <div class="team-member-content">
                            <a href="https://www.linkedin.com/in/dickreuter/">
                                <h5>Nicolas Dickreuter</h5>
                            </a>
                        <p class="mb-0">Co-founder & AI Principle</p>
                        </div>
                    </div>
                    </div>
               
                </div>
                <!--
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12 mb-4">
                    <div class="team-member image-zoom">
                        <div class="image-zoom-wrapper">
                        <img src="{% static 'images/team1.png' %}" alt="">
                        </div>
                        <div class="team-member-content">
                            <a href="https://www.linkedin.com/in/samuel-aaron-9877561a9/">
                                <h5>Alex Hoyle</h5>
                            </a>
                        <p class="mb-0">Full Stack Engineer</p>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12 mb-4">
                        <div class="team-member image-zoom">
                            <div class="image-zoom-wrapper">
                            <img src="{% static 'images/team3.png' %}" alt="">
                            </div>
                            <div class="team-member-content">
                                <a href="https://www.linkedin.com/in/jamie-horsnell-47347725b/">
                                    <h5>Kevin Busby</h5>
                                </a>
                                
                            <p class="mb-0">Sales Director</p>
                            </div>
                        </div>
                        </div>
                  
                        <div class="col-md-3 col-sm-6 col-12 mb-4">
                            <div class="team-member image-zoom">
                                <div class="image-zoom-wrapper">
                                <img src="{% static 'images/team2.png' %}" alt="">
                                </div>
                                <div class="team-member-content">
                                 <a href="https://www.linkedin.com/in/joshua-aaron/">
                                    <h5>Sam Horsnell</h5>
                                </a>
                                <p class="mb-0">Marketing Executive
                                </p>
                                </div>
                            </div>
                            </div>
               
                    <div class="col-md-3 col-sm-6 col-12 mb-4">
                    <div class="team-member image-zoom">
                        <div class="image-zoom-wrapper">
                        <img src="{% static 'images/team4.png' %}" alt="">
                        </div>
                        <div class="team-member-content">
                            <a href="https://www.linkedin.com/in/dickreuter/">
                                <h5>Naeemah Khan</h5>
                            </a>
                        <p class="mb-0">Sales Representative</p>
                        </div>
                    </div>
                    </div>
               
                </div>
            -->
            </div>
       


        <div class="row px-2" style="font-size: 18px;">
          
            <h2>Our Unique Value Proposition</h2>

            <p>The most intuitive and simple tendering software on the market. mytender.io is your straight-forward and easy to use AI assistant with direct support to real people who care about you winning tenders. We have worked alongside bid consultants to build a platform that can take away your frustrations and concerns that arise when writing tenders.
            </p>

            <p>Our mission is to empower all businesses with effective and efficient bid writing.</p>

            

                        

        </div>



    </div>
</section>





{% endblock content %}
