{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>mytender.io {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
          integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
          integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/clash-display.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.2/css/boxicons.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />








</head>



<body data-bs-spy="scroll" data-bs-target=".navbar">

    <nav class="navbar navbar-expand-lg bg-white sticky-top">
        <div class="container">

            <a class="navbar-brand" href="{% url 'home' %}">
                <span style="font-weight: bold; font-size: 30px; font-family: 'Montserrat', sans-serif;">mytender.io</span>
            </a>





                <button class="navbar-toggler" style="outline: none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="fas fa-bars"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto" >












                            {% if not request.user.is_authenticated%}

                            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#about" > Home </a></li>
                            <li class="nav-item"><a class="nav-link"  href="{% url 'home' %}#services">Services</a></li>
                            <li class="nav-item"><a class="nav-link"  href="{% url 'home' %}#blog">Blog</a></li>
                            <li class="nav-item"><a class="nav-link"  href="{% url 'home' %}#team">Team</a></li>
                            <a href="{% url 'home' %}#contact" class="btn btn-brand ms-lg-3">Contact Us</a>

                            {% endif%}
                        </li>


                    </ul>

                </div>

        </div>
    </nav>








    {% block content %}
    {% endblock content %}
   <!-- FOOTER -->
   <footer class="bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">mytender.io</h5>
                    <div class="line"></div>
                    <p>Built with quality, security and integrity.</p>
                    <div class="social-icons">
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                        <a href="#"><i class="ri-instagram-fill"></i></a>
                        <a href="#"><i class="ri-github-fill"></i></a>
                        <a href="#"><i class="ri-dribbble-fill"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">SERVICES</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Data-Driven Market Research</a></li>
                        <li><a href="#">AI Procurement Services</a></li>
                        <li><a href="#">Business Intelligence</a></li>
                        <li><a href="#">Language Engines</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">ABOUT</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">CONTACT</h5>
                    <div class="line"></div>
                    <ul>

                        <li>support@spark-ai.co.uk</li>
                        <li>www.mytender.io<li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4 justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">© Copyright mytender.io All Rights Reserved</p>
                </div>

            </div>
        </div>
    </div>
</footer>
    {% include 'scripts.html' %}

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>
