{% extends "base.html" %}
{% load static %}

{% block content %}

 

      
      <section id="Thankyou" style="margin-top: 160px; margin-bottom: 160px; ">
        <div class="container">
          <div class="col-12 text-center ">
            <div class="section-title" >
              <h1 class="display-1 fw-semibold">Thank You</h1>
              <div class="line"></div>
              <p class="align-items-center">You will receive your results shortly! Make sure you check your spam folder if you haven't heard back.</p>
              <a href="/" class="button ms-lg-3">Back</a>
            </div>
           
           
          </div>
        </div>
     
      </section>

  
{% endblock content %}