{% extends "base.html" %}
{% block title %}  {% endblock %}
{% load static %}

{% block content %}




<section id="heroservices" class="d-flex align-items-center">
    <div class="services-bg-image-facility"></div> <!-- Added div for background image -->
    
</section>


<section id="about" class="section-padding" style="padding-top: 50px;">
    <div class="container">
        
        <div class="row mt-0 mb-0">
            <div class="col-12 text-center"   >
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Construction & FM</h1>
                    <div class="line" style="margin-bottom: 0;"></div>


                </div>
            </div>
        </div>



        <div class="row justify-content-between align-items-center px-2">
            <!-- Image -->

            <!-- Content -->

                <!-- Introduction to AI in Market Research -->
                <h2>Introduction</h2>
                <p>In the facility management and construction sectors, companies compete fiercely for crucial contracts encompassing a broad spectrum of hard and soft services, such as infrastructure maintenance, general security, and cleanliness. Bids often extend to specialized tasks like technical equipment maintenance.</p> <!-- Add the text for each section here -->


                <p>The process goes beyond cost, demanding proof of expertise in areas like sustainability and technology integration for facility management, and technical expertise for complex construction projects. Stringent industry standards require companies to showcase not only expertise but also security-cleared personnel and adherence to regulations, therefore requiring comprehensive bid responses to win contracts.</p>


                

       
                <h2>Engineered Alignments</h2>
                <p>Industry Model Training - Our AI is trained on large datasets of winning bids within these sectors. This allows the software to better understand the specific evaluation criteria and expectations for different types of facility management and construction projects.
                </p>


                <p>Key Section Intelligence - Responses are crafted to showcase your company's social value initiatives, demonstrate relevant technical expertise, and ensure your bid adheres to all regulatory requirements.
                    </p>

                <!-- Benefits of AI in Market Research -->

                <p>Contract information section - Input the relevant contract information for responses to be integrated and specifically addressed contractual information outlined in the bid. This ensures your proposal demonstrates a clear 
                    understanding of the contractual terms.
                    
                    </p>

                <!-- Integrating AI into Business Strategies -->
                <h2>Targeted Applications</h2>
                    <ul style="margin-left: 20px;">
                    <li>Soft Services & Security</li>
                    <li>Hard Services</li>
                    <li>Construction</li>
                    <li>Architectural Design</li>
                    <li>Engineering Services</li>
                    </ul>
              
            </div>
        </div>

    </div>
</section>





{% endblock content %}
