{% extends "base.html" %}
{% block title %}{% endblock %}
{% load static %}

{% block content %}



<section id="heroservices" class="d-flex align-items-center">
    <div class="services-bg-image-finance"></div> <!-- Added div for background image -->
    
</section>


<section id="about" class="section-padding" style="padding-top: 50px;">
    <div class="container">
        
        <div class="row mt-0 mb-0">
            <div class="col-12 text-center"   >
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Financial Services</h1>
                    <div class="line" style="margin-bottom: 0;"></div>


                </div>
            </div>
        </div>




        <div class="row justify-content-between align-items-center px-2">
            <!-- Image -->

            <!-- Content -->

                <!-- Introduction to AI in Market Research -->
                <h2>Introduction</h2>
                <p>Winning contracts is a critical factor for success in the competitive world of finance, with 20% of the EU's total services procurement spending going towards financial services. Procurement in this sector goes beyond just cost, involving a rigorous evaluation process that assesses a bank's technical prowess, data governance practices, and adherence to complex compliance regulations. 
                </p> <!-- Add the text for each section here -->


                <p>The scope of bids can be quite broad, encompassing everything from commercial and investment banking infrastructure to wealth and asset management systems. Proposals need to be accurate and well-rounded, with complex scoring criteria based not only on financial competitiveness but also on technical expertise and a commitment to data security.</p>


 
                <h2>Engineered Alignments</h2>
                <p>Financial Documentation Processing - Upload a range financial documentation to be effectively processed into your database so key financial data from various sources like balance sheets and income statements are accurately incorporated into the bid.
                    </p>


                <p>Virtual Private Cloud Security - Our commitment to data security extends to the cloud. We leverage (VPC) technology to create a secure, isolated environment for each client within the shared cloud infrastructure ensuring your data remains segregated and protected with additional access controls


                    </p>


                <p>Evaluation Criteria Management - Input criteria of the bid to enable the response to be specifically tailored to the strict bid requirements, and directly address the technical expertise and data security aspects valued during the evaluation process.

                    </p>

                <!-- Integrating AI into Business Strategies -->
                <h2>Targeted Applications
                </h2>

                <ul style="margin-left: 20px;">
                    <li>Investment Banking</li>
                    <li>Wealth, Asset & Portfolio Management</li>
                    <li>Commercial Banking</li>
                    <li>Insurance</li>
                  </ul>
                  
              
            </div>
        </div>

    </div>




</section>









{% endblock content %}
