
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>mytender.io {% block head_title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/mytender.io_badge.png' %}" type="image/png">
    {% block extra_head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/clash-display.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>
<body >

<section id="guide" style="margin-top: 100px; margin-bottom: 160px;">
    <div class="container">
        <div class="col-12 text-center">
            <div class="section-title">
                <h1 class="display-1 fw-semibold">Free Guide</h1>
                <h3 class="display-subheading mt-4">How to Use Prompt Engineering to Fast Track Your Bid Writing</h3>
                <div class="line"></div>
                <div class="guide-text-container">
                    <p class="align-items-center guide-text">Using AI effectively is the quickest and most cost-effective way to win and respond to more RFPs.</p>
                    <p class="align-items-center guide-text p2">In this free guide, we tell you how to do exactly that. No jargon, just an easy-to-follow step-by-step guide of exactly what to do.</p>
                </div>
                <form method="post" action="{% url 'guide' %}" class="input-container mt-4">
                  {% csrf_token %}
                  <input type="email" name="email" placeholder="Enter your e-mail" class="email-input" required>
                  <button type="submit" class="get-started-btn">Get the Guide</button>
              </form>
              
            </div>
        </div>
    </div>
</section>

</body>
</html>
