{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="Thankyou" style="margin-top: 100px; margin-bottom: 160px;">
    <div class="container">
        <div class="col-12 text-center">
            <div class="section-title">
                <h1 class="display-1 fw-semibold">Thank You</h1>
                <div class="line"></div>
                <p class="align-items-center guide-text p2">Your free guide is on its way. Check your SPAM folder if you don't receive an email within 5 minutes!</p>
                <h3 class="display-subheading mt-4 mb-4">Want to know what we could do for you?</h3>
                <p class="align-items-center guide-text p2">Schedule a call with us today and receive a personalised strategy session of how to apply the guide's techniques to your specific needs.</p>
               
                <a href="https://calendly.com/mytender_io/mytender-io-discovery-call" class="button">Book a demo</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
