{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="Thankyou" style="margin-top: 100px; margin-bottom: 160px;">
    <div class="container">
        <div class="col-12 text-center">
            <div class="section-title">
                <h1 class="display-1 fw-semibold">Thank You</h1>
                <div class="line"></div>
                <p class="align-items-center guide-text p2">Your free guide is on its way and will arrive in your mailbox within five minutes. Check your SPAM folder if it doesn't arrive within that timeframe!</p>
                <h3 class="display-subheading mt-4 mb-4">Want to know what we could do for you?</h3>
                <p class="align-items-center guide-text p2">Schedule a call with us today and receive a personalized strategy session tailored to your needs. No pressure, just valuable insights and actionable steps. Don’t miss out – secure your spot now!</p>
                <a href="https://calendly.com/naeemah-mytender/30min?month=2024-07" class="button">Book a demo</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
