{% extends "base.html" %}
{% block title %}  {% endblock %}
{% load static %}

{% block content %}



<section id="heroservices" class="d-flex align-items-center">
    <div class="services-bg-image-healthcare"></div> <!-- Added div for background image -->
    
</section>


<section id="about" class="section-padding" style="padding-top: 50px;">
    <div class="container">
        
        <div class="row mt-0 mb-0">
            <div class="col-12 text-center"   >
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Healthcare</h1>
                    <div class="line" style="margin-bottom: 0;"></div>


                </div>
            </div>
        </div>





        <div class="row justify-content-between align-items-center px-2">
            <!-- Image -->

            <!-- Content -->

                <!-- Introduction to AI in Market Research -->
                <h2>Introduction</h2>
                <p>In the healthcare and pharmaceutical sectors, winning bids is pivotal for maintaining essential services and advancing medical care, covering a wide array of contracts from critical systems maintenance to specialised services. Over 17% of healthcare procurement contracts analyzed had criteria beyond just the lowest price, meaning vendors must also demonstrate superior technical expertise, compliance with healthcare standards, and the ability to meet specific operational requirements.</p> <!-- Add the text for each section here -->


                <p>This emphasis on comprehensive evaluations makes skilled bidding essential, as it requires vendors to meticulously articulate their technical strengths, innovative solutions, and value-added services to meet the multifaceted demands of healthcare procurement. Ensuring you win bids is critical for enhancing patient care and operational efficiency, driving an overall improvement in the outcome of patients.</p>


                

       
                <h2>Engineered Alignments</h2>
                <p>Contextual Data Input - Our contextual data input allows you to include practice-specific details and relevant expertise, ensuring your proposal highlights solutions directly applicable to the unique needs of the healthcare facility.
                </p>


                <p>Dataset focus feature - Point the model to specific uploaded data to help showcase your expertise with tangible evidence, bolstering your proposal's credibility.

                    </p>

                <!-- Benefits of AI in Market Research -->

                <p>AI enhancements for specific sections - Train your model to include relevant regulations or highlight industry best practices within your proposal to ensure your proposal addresses complex bid requirements, effectively and comprehensively.
                    
                    </p>

                <!-- Integrating AI into Business Strategies -->
                <h2>Targeted Applications</h2>
                    <ul style="margin-left: 20px;">
                    <li>Medical Equipment Procurement</li>
                    <li>Pharmaceutical Manufacturing</li>
                    <li>Healthcare Service Provision</li>
                    </ul>
              
            </div>
        </div>

    </div>
</section>





{% endblock content %}
