{% extends "base.html" %}
{% block title %}  {% endblock %}
{% load static %}

{% block content %}



<section id="about" class="section-padding">
    <div class="container">
        <div class="row mb-0">
            <div class="col-12 text-center"   >
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Healthcare and Pharmaceuticals</h1>
                    <div class="line" style="margin-bottom: 0;"></div>


                </div>
            </div>
        </div>



        <div class="row justify-content-between align-items-center">
            <!-- Image -->

            <!-- Content -->

                <!-- Introduction to AI in Market Research -->
                <h2>Introduction</h2>
                <p>In the healthcare and pharmaceutical sectors, winning bids is pivotal for maintaining essential services and advancing medical care, covering a wide array of contracts from critical systems maintenance to specialised services. Over 17% of healthcare procurement contracts analyzed had criteria beyond just the lowest price, meaning vendors must also demonstrate superior technical expertise, compliance with healthcare standards, and the ability to meet specific operational requirements.</p> <!-- Add the text for each section here -->


                <p>This emphasis on comprehensive evaluations makes skilled bidding essential, as it requires vendors to meticulously articulate their technical strengths, innovative solutions, and value-added services to meet the multifaceted demands of healthcare procurement. Ensuring you win bids is critical for enhancing patient care and operational efficiency, driving an overall improvement in the outcome of patients.</p>


                

       
                <h2>Engineered Alignments:</h2>
                <p>Contextual Data Input - Our contextual data input allows you to include practice-specific details and relevant expertise, ensuring your proposal highlights solutions directly applicable to the unique needs of the healthcare facility.
                </p>


                <p>Dataset focus feature - Point the model to specific uploaded data to help showcase your expertise with tangible evidence, bolstering your proposal's credibility.

                    </p>

                <!-- Benefits of AI in Market Research -->

                <p>Contract information section - Input the relevant contract information for responses to be integrated and specifically addressed contractual information outlined in the bid. This ensures your proposal demonstrates a clear 
                    understanding of the contractual terms.
                    
                    </p>

                <!-- Integrating AI into Business Strategies -->
                <h2>Targeted Applications:</h2>
                    <ul>
                    <li>Soft Services & Security</li>
                    <li>Hard Services</li>
                    <li>Construction</li>
                    <li>Architectural Design</li>
                    <li>Engineering Services</li>
                    </ul>
              
            </div>
        </div>

    </div>
</section>





{% endblock content %}
