{% extends "base.html" %}
{% block title %}  {% endblock %}
{% load static %}

{% block content %}



<section id="heroservices" class="d-flex align-items-center">
    <div class="services-bg-image-publicsector"></div> <!-- Added div for background image -->
    
</section>


<section id="about" class="section-padding" style="padding-top: 50px;">
    <div class="container">
        
        <div class="row mt-0 mb-0">
            <div class="col-12 text-center"   >
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Public Sector Vendors</h1>
                    <div class="line" style="margin-bottom: 0;"></div>


                </div>
            </div>
        </div>


        <div class="row justify-content-between align-items-center px-2">
            <!-- Image -->

            <!-- Content -->

                <!-- Introduction to AI in Market Research -->
                <h2>Introduction</h2>
                <p>Public sector vendors prioritise securing contracts due to the sector's strict regulatory compliance, detailed bid requirements, and lengthy bid processes. These contracts are highly important to offer stability and a substantial work volume, enhancing the vendor's reputation by demonstrating their reliability and quality of service. 
                </p> <!-- Add the text for each section here -->


                <p>Winning these bids contributes to critical public infrastructure and services, providing both professional fulfilment and significant business opportunities, emphasizing the importance of a quick and simple bid writing process being fundamental to supporting growth for vendors.</p>

            
                <h2>Engineered Alignments</h2>
                <p>Public Sector Model fine-tuning - The model is fine-tuned on public sector bids, increasing its understanding of regulatory language and technical jargon commonly used in bid documents.

                </p>


                <p>Large-scale Retrieval Augmented Generation - Utilizing RAG our software has the capacity to scan through huge datasets to extract the most relevant information to generate a complete well rounded proposal.

                    </p>

                <!-- Benefits of AI in Market Research -->

                <p>Powerful response capacity - Our system uses Langchain to efficiently populate lengthy RFPs to significantly reduce the time spent on manual data entry and repetitive writing.

                    </p>

                <!-- Integrating AI into Business Strategies -->
                <h2>Targeted Applications</h2>
                    <ul style="margin-left: 20px;">
                    <li>Government Infrastructure Projects</li>
                    <li>Educational Services</li>
                    <li>Social Services Provision</li>
                    <li>Public Health Initiatives</li>
                    </ul>
              
            </div>
        </div>

    </div>
</section>





{% endblock content %}
