{% extends "base.html" %}
{% block title %}Terms and Conditions{% endblock %}
{% load static %}
{% block content %}

<section id="about" class="section-padding" style="padding-top: 50px;">
    <div class="container">
        <div class="row mt-0 mb-0">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Terms and Conditions</h1>
                    <div class="line" style="margin-bottom: 0;"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center px-2">
            <div>
                <h2>Introduction</h2>
                <p><strong>Updated: 09 June 2024</strong></p>
                <p>These Terms and Conditions, together with its Schedules (the "Terms") are made and entered into on
                the Effective Date by and between mytender.io Ltd, a company incorporated in England and Wales
                with company number 15132671 having its registered offices at 128 City Road, London, England, EC1V
                2NX ("mytender.io") and the entity signing the Payment Link which references these Terms
                ("Customer"). These Terms constitute the agreement between the parties (collectively referred to as
                the "Agreement").</p>

                <h2>1. Definitions</h2>
                <p>1.1 Capitalised terms not otherwise set out in these Terms shall have the meaning set out in Schedule
                1 (Definitions).</p>

                <h2>2. Services</h2>
                <p>2.1 mytender.io will provide to Customer the applicable Services purchased by Customer the services
                of automated draft generation, automated bid editing, training for use of the software and a platform
                enabling them to generate and manage written content effectively.</p>
                <p>2.2 Subject to payment of the applicable Fees, the restrictions set out in this clause 2 and the terms
                and conditions of these Terms and the payment link, mytender.io hereby grants to Customer a non-
                exclusive, non-transferable, non-assignable, non-sublicensable right during the Term to use the
                Services and the applicable mytender.io software.</p>

                <h2>3. Fees and Payment Terms</h2>
                <p>3.1 Customer shall pay to mytender.io the Fees set forth in the applicable payment link in accordance
                with this clause 3.</p>
                <p>3.2 mytender.io will invoice Customer for the applicable Fees in accordance with the payment
                schedule and payment instructions set out in the payment link.</p>
                <p>3.3 All amounts and Fees stated or referred to in the Agreement are non-refundable and are exclusive
                of all Taxes. Customer shall be solely responsible for, and paying all applicable Taxes relating to the
                Agreement, and the use or access to the Services and Support Services.</p>
                <p>3.4 Customer shall pay the subscription payment, in which the Customer authorizes automatic
                recurring charges to your selected payment method for the chosen monthly subscription plan.</p>
                <p>3.5 If payment for a monthly subscription fee is not received by the due date and remains unpaid for 7
                days, and is not the subject of a bonafide dispute, mytender.io reserves the right to:</p>
                <p>3.5.1 without liability to Customer, disable Customer's password, account and access to all or part of
                the Services and mytender.io Technology and/or suspend the provision of Support Services and
                mytender.io shall be under no obligation to provide any or all of the Services and/or Support Services
                while the invoice(s) concerned remain unpaid.</p>
                <p>3.6 mytender.io reserves the right to adjust the pricing for your subscription plan. Any price changes
                will be communicated to you through your email address associated with the account at least 30 days
                before they take effect. The updated pricing will then be reflected in your next payment through the
                payment link. You can view the current and upcoming pricing information any time by accessing your
                account dashboard.</p>

                <h2>4. Refund Policy and Test Drive Period</h2>
                <p>4.1 Refund Period: The Customer is entitled to a one-month refundable period starting from the
                Services Commencement Date. If the Customer is not satisfied with the Services, they may cancel
                within this period and a cancellation request must be submitted in writing via email to
                info@mytender.io.</p>
                <p>4.2 Test Drive Period: Following the initial one-month refundable period, the Customer is granted an
                additional two-month test drive period. If the Customer chooses to discontinue the Services within
                these two months, they may cancel with no additional fees incurred. No refunds will be provided for
                the Fees covering this test drive period.</p>
                <p>4.3 Twelve-Month Contract: After the completion of the three-month test drive period, the Customer
                commits to a twelve-month contract. This contract will automatically commence unless the Customer
                has cancelled the Services as per the conditions set out in clauses 4.1 and 4.2.</p>
                <p>4.4 Automatic Renewal: Upon the conclusion of the twelve-month contract, the Agreement will
                automatically renew for successive fixed terms of twelve months each, unless terminated by either
                party with at least one (1) month's written notice prior to the end of the then-current term.</p>
                <p>4.5 Termination During Contract: Termination of the Agreement before the end of the twelve-month
                contract period is subject to the terms set forth in clause 7 (Term and Termination).</p>

                <h2>5. Warranty</h2>
                <p>5.1 mytender.io warrants that the Services will be provided with reasonable skill and care.</p>
                <p>5.2 The warranty provided in clause 5.1 shall not apply to the extent of any non-conformance which is
                caused by:</p>
                <p>5.2.1 Customer's implementation or use of the Services contrary to mytender.io's instructions or
                otherwise in breach of the Agreement;</p>
                <p>5.2.2 modification or alteration of the Services by any party other than mytender.io or mytender.io's
                duly authorised contractors or agents; or</p>
                <p>5.2.3 inaccurate or out of date information provided by an Authorised User.</p>
                <p>5.3 If the Services do not conform with the warranty provided in clause 4.1, mytender.io will, at its
                expense, use commercially reasonable efforts to correct any such non-conformance within a
                reasonable period of time. This clause sets out the Customer's sole and exclusive remedy and
                mytender.io's entire liability for breach of clause 4.1.</p>
                <p>5.4 Notwithstanding the foregoing, mytender.io:</p>
                <p>5.4.1 does not warrant that Customer's use of the Services will be uninterrupted or error-free;</p>
                <p>5.4.2 is not responsible for any delays, delivery failures, or any other loss or damage resulting from
                Customer's access to and use of the Services and/or third-party applications or the transfer of data
                over communications networks and facilities, including the Internet, and Customer acknowledges that
                the Services may be subject to limitations, delays and other problems inherent in the use of such
                communications facilities;</p>
                <p>5.4.3 is not responsible for any Virus which was not detected by mytender.io using reasonable current
                commercial methods of detection or transmitted through any third-party services;</p>
                <p>5.4.4 nor its suppliers or third-party service providers or software vendors, shall have any liability
                whatsoever for the accuracy, completeness, or timeliness of Content, or for any decision made or
                action taken by Customer, any Authorised User, or any third party in reliance upon any Content.</p>
                <p>5.5 Except as expressly provided for in this clause 4, mytender.io (and its Associated Companies and
                suppliers) to the extent permitted by applicable law, disclaims all other warranties, express, implied or
                statutory, including without limitation warranties, terms and conditions of merchantability, accuracy,
                correspondence with description, fitness for a particular purpose or use, and satisfactory quality, and
                non-infringement.</p>
                <p>5.6 The Agreement shall not prevent mytender.io from entering into similar Agreements with third
                parties, or from independently developing, using, selling or licensing documentation, products and/or
                services which are similar to those provided under the Agreement.</p>

                <h2>6. Intellectual Property Rights</h2>
                <p>6.1 Customer acknowledges and agrees that mytender.io and its licensors and suppliers own all
                Intellectual Property Rights in the mytender.io Technology, Services, and mytender.io Data, but
                excluding Customer Data & Content. Except as expressly stated herein, the Agreement does not grant
                Customer any Intellectual Property Rights or any other rights or licenses in respect of the mytender.io
                Technology, Services, or mytender.io Data.</p>
                <p>6.2 Customer owns all Intellectual Property Rights in the Customer Data and Content.</p>

                <h2>7. Term and Termination</h2>
                <p>7.1 The Agreement shall commence on the Effective Date and shall continue for 12 months (the "Initial
                Term") unless otherwise terminated as provided in this clause 6. Thereafter, the Agreement shall
                automatically renew for successive fixed terms of 12 months (each a "Renewal Term"). Either party
                may terminate the Agreement by providing the other party with not less than one (1) month's written
                notice prior to the end of the Initial Term or relevant Renewal Term. Where a Minimum Term is
                specified in the Order Form, the Customer can not terminate the Agreement before the end of that
                Minimum Term.</p>
                <p>7.2 Without prejudice to any other rights or remedies to which the parties may be entitled, either party
                may terminate the Agreement without liability to the other at any time with immediate effect upon
                written notice if the other party:</p>
                <p>7.2.1 is in material breach of any of its obligations under the Agreement and/or an Order Form and, in
                the case of a breach which is capable of remedy, fails to remedy such breach within thirty (30) days
                following notice of the breach; or</p>
                <p>7.2.2 voluntarily files a petition under bankruptcy or insolvency law; shall have a receiver or
                administrative receiver appointed over it or any of its assets; or if the other party shall become
                subject to an administration order or shall enter into any voluntary arrangement with its creditors or
                shall cease or threaten to cease to carry on business; or is subject to any analogous event or
                proceeding in any applicable jurisdiction.</p>
                <p>7.3 On termination or expiration of the Agreement for any reason:</p>
                <p>7.3.1 Customer's rights of use granted under the Agreement shall immediately terminate and
                Customer shall immediately cease the use of the Services subscribed to under the Agreement, the
                mytender.io Technology, and the Support Services;</p>
                <p>7.3.2 Customer shall promptly pay all monies due or to become due under the Agreement; and</p>
                <p>7.3.3 the parties shall comply with their respective obligations set out in clause 8.4</p>

                <h2>8. Limitation of Liability</h2>
                <p>8.1 The exclusions in this clause 7 shall apply to the fullest extent permissible at law but neither party
                excludes liability for (i) death or personal injury caused by its negligence or that of its officers,
                employees, contractors or agents; (ii) fraud or fraudulent misrepresentation; or (iii) any other liability
                which cannot be excluded by law.</p>
                <p>8.2 Except with respect to amounts owed by Customer to mytender.io hereunder and subject to
                clause 8.1, mytender.io's liability for or in respect of any loss or damage suffered by Customer
                (whether due to breach of contract, tort (including negligence) or otherwise) under or in connection
                with the Agreement shall be limited to £20,000.</p>
                <p>8.3 Except with respect to amounts owed by Customer to mytender.io hereunder and subject to
                clause 8.1, mytender.io's liability for or in respect of any loss or damage suffered by Customer
                (whether due to breach of contract, tort (including negligence) or otherwise) shall be liable to the
                other for any indirect, incidental, consequential, or special damages arising from this Agreement,
                regardless of the theory of liability. Each party's total liability under this Agreement shall be limited to
                the maximum extent allowed by law.</p>
                <p>8.4 In addition to the other exclusions set out in this clause 8, mytender.io has no liability:</p>
                <p>8.4.1 for any third party products or services accessed and/or used by Customer through the Services;</p>
                <p>8.4.2 where any failure to provide the Services is caused by a network, hardware or software fault in
                equipment which is not under the control of mytender.io;</p>
                <p>8.4.3 any act or omission of Customer;</p>
                <p>8.4.4 any act or omission of an Authorised User;</p>
                <p>8.4.5 use of the Services in breach of the Agreement;</p>
                <p>8.4.6 any unauthorised access to the Services including a malicious security breach; or</p>
                <p>8.4.7 loss or damage caused by Customer's delay or failure to timely provide any required information
                or co-operation or to fulfil its obligations under the Agreement.</p>
                <p>8.5 Customer assumes sole responsibility for results obtained from the use of the Services by
                Customer, and for conclusions drawn from such use. mytender.io shall have no liability for any
                damage caused by errors or omissions in any information, data or instructions provided to
                mytender.io by Customer in connection with the Services or any actions taken by mytender.io at
                Customer's direction.</p>
                <p>8.6 mytender.io does not and cannot control the flow of data to or from the network where the
                Services reside and other portions of the internet including denial of service attacks (an attack which
                send a flood of incoming messages to the target system forcing the system to shut down, thereby
                denying service to legitimate users). Such flow depends in large part on the performance of internet
                services provided or controlled by third parties. At times, actions or inactions of such third parties
                can impair or disrupt Customer's connections to the internet (or portions thereof). mytender.io
                cannot guarantee that such events will not occur. Accordingly, mytender.io, its suppliers and
                subcontractors, if any, disclaim any and all liability resulting from or related to such events and
                Customer shall have no claim in respect thereof.</p>
                <p>8.7 mytender.io shall have no liability to Customer under the Agreement if it is prevented from or
                delayed in performing its obligations under the Agreement due to a Force Majeure Event. mytender.io
                shall provide Customer with notice of a Force Majeure Event and its expected duration.</p>

                <h2>9. Confidential Information</h2>
                <p>9.1 Each party may be given access to Confidential Information from the other party in order to
                perform its obligations under the Agreement. A party's Confidential Information shall not be deemed
                to include information that:</p>
                <p>9.1.1 is or becomes publicly known other than through any act or omission of the receiving party;</p>
                <p>9.1.2 was in the other party's lawful possession before the disclosure;</p>
                <p>9.1.3 is lawfully disclosed to the receiving party by a third party without restriction on disclosure;</p>
                <p>9.1.4 is independently developed by the receiving party, which independent development can be
                shown by written evidence; or</p>
                <p>9.1.5 is required to be disclosed by law, by any court of competent jurisdiction or by any regulatory or
                administrative body.</p>
                <p>9.2 Each party shall (i) hold the other's Confidential Information in confidence and, unless required by
                law, not make the other's Confidential Information available to any third party, or use the other's
                Confidential Information for any purpose other than the implementation of the Agreement; and (ii)
                take all reasonable steps to ensure that the other's Confidential Information to which it has access is
                not disclosed or distributed by its employees or agents in violation of the terms of the Agreement.
                Neither party shall be responsible for any loss, destruction, alteration or disclosure of Confidential
                Information caused by any third party.</p>
                <p>9.3 Customer acknowledges that details of the mytender.io Technology, Services, Data, and the results
                of any performance tests of the Services, constitute mytender.io's Confidential Information.</p>
                <p>9.4 Subject to clause 8.2 and except where a party is expressly required by law to retain a copy, on
                termination of the Agreement or when requested to do so in writing by the disclosing party, the
                receiving party shall promptly:</p>
                <p>9.4.1 deliver to the disclosing party any documents and other materials in its possession or control
                that contain any of the Confidential Information;</p>
                <p>9.4.2 permanently delete, destroy and erase all electronic copies of the Confidential Information from
                any computer or data storage system into which the Confidential Information was entered (except
                where a party is required by Applicable Law to keep copies); and</p>
                <p>9.4.3 make no further use of the Confidential Information.</p>
                <p>9.5 The receiving party, if requested by the disclosing party, shall confirm in writing that the provisions
                of clause 8.4 have been complied with. The obligations of confidentiality under this clause 8 shall
                survive any expiration or termination of the Agreement for a period of 2 years from the date of
                termination, except for any information which is deemed a trade secret of a party in respect of which
                the obligations of confidentiality shall continue for as long as such information remains a trade secret.</p>

                <h2>10. Data Protection</h2>
                <p>10.1 The terms of the data processing addendum posted as of the Effective Date are hereby
                    incorporated by reference <a href="/data_protection_overview">here</a>.</p>

                <h2>11. General</h2>
                <p>11.1 The Agreement (including its Schedules) and any disputes or claims arising out of or in connection
                with it, its subject matter or formation (including non-contractual disputes or claims) shall be
                governed by the laws of England and Wales and the parties submit to the non-exclusive jurisdiction of
                the English courts.</p>
                <p>11.2 mytender.io may change these Terms and Conditions and the other components of the
                Agreement (except any Order Forms). If mytender.io makes a material change to the Agreement,
                mytender.io will provide the Customer with reasonable notice prior to the change taking effect, either
                by emailing the email address associated with the Customer's account or by messaging the Customer
                through the Services. The materially revised Agreement will become effective on the date set forth in
                mytender.io's notice, and all other changes will become effective upon posting of the change. If the
                Customer (or any Authorised User) accesses or uses the Services after the effective date, that use will
                constitute the Customer's acceptance of any revised terms and conditions.</p>
                <p>11.3 Customer agrees that mytender.io and its Associated Companies may publish Customer's name
                and logo in its customer lists, and promotional, marketing and investment materials, in any media.
                Customer will assist mytender.io with the creation of a case study regarding the supply of services.</p>
            
                <h2>SCHEDULE 1 – Definitions</h2>
                <p>The following definitions apply to the Agreement and its Schedules (including the Order Form(s)
                attached as Schedules)). Any capitalised terms not otherwise defined in the Agreement or its
                Schedules have the meanings set out below:</p>

                <dl>
                    <dt>Applicable Laws:</dt>
                    <dd>All applicable local, state, national and foreign laws, treaties and regulations in
                    connection with Customer's use of the Services, including those related to advertising, the Applicable
                    Data Protection Laws, international communications and the transmission of technical or personal
                    data, and all compulsory industry self-regulations;</dd>

                    <dt>Applicable Data Protection Laws:</dt>
                    <dd>The Data Protection Act 2018 and as amended and the General Data
                    Protection Regulation (EU) 2016/679 (as implemented under English law) or any other applicable
                    similar laws relating to the protection of personal data in other jurisdictions;</dd>

                    <dt>Associated Companies:</dt>
                    <dd>An entity that is directly or indirectly controlled by, or is under common
                    control with, a party to the Agreement. For purposes of the foregoing, "control" means the ownership
                    of (i) greater than fifty per cent (50%) of the voting power to elect directors of the entity, or (ii) greater
                    than fifty per cent (50%) of the ownership interest in the entity;</dd>

                    <dt>Authorised User:</dt>
                    <dd>Those employees, agents and independent contractors of Customer who are
                    authorised by Customer to access and use the Services;</dd>

                    <dt>mytender.io Application:</dt>
                    <dd>Means the mytender.io software application upon which the Content is
                    created;</dd>

                    <dt>mytender.io Data:</dt>
                    <dd>Any information or data provided by mytender.io to Customer as part of the
                    Services, any feedback or suggestions on the Services provided by Customer to mytender.io, and any
                    other data of which mytender.io is the Controller;</dd>

                    <dt>mytender.io Marks:</dt>
                    <dd>The mytender.io name, logo, and any of the product names associated with the
                    Services, all of which are trademarks of mytender.io;</dd>

                    <dt>mytender.io Resources:</dt>
                    <dd>Means the training materials and other resources created by mytender.io;</dd>

                    <dt>mytender.io Technology:</dt>
                    <dd>Any technology or software used by mytender.io to provide the Services,
                    including without limitation, the mytender.io Resources, the mytender.io Application and/or any other
                    underlying technology, trade secrets, data, content or information;</dd>

                    <dt>Claim Year:</dt>
                    <dd>Means each successive period of twelve (12) months commencing on the Effective Date of
                    the Agreement;</dd>

                    <dt>Confidential Information:</dt>
                    <dd>Information of a party concerning its business and/or affairs, including
                    without limitation to information relating to a party's operations, technical or commercial know-how,
                    specifications, inventions, processes or initiatives, plans, product information, pricing information,
                    know-how, designs, trade secrets, software, documents (including for mytender.io its Software, and
                    Services), data and information which, when provided by a party to the other: a) are clearly identified
                    as "Confidential" or "Proprietary" or are marked with a similar legend; b) are disclosed orally or
                    visually, identified as Confidential Information at the time of disclosure and confirmed as Confidential
                    Information in writing within 10 days; or c) a reasonable person would understand to be confidential
                    or proprietary at the time of disclosure;</dd>

                    <dt>Content:</dt>
                    <dd>The content generated by the mytender.io Application;</dd>

                    <dt>Customer Data:</dt>
                    <dd>The (i) data and information provided by Customer to mytender.io and/or imported,
                    inputted, uploaded and/or shared by Customer, Authorised Users or mytender.io on Customer's
                    behalf, for the purpose of using the Services or facilitating Customer's use of the Services; or (ii) data
                    generated by or for Customer through Customer's use of the Services, but excluding mytender.io
                    Data;</dd>

                    <dt>Effective Date:</dt>
                    <dd>The effective date of the Order Form as set out in such Order Form;</dd>

                    <dt>Fees:</dt>
                    <dd>The fees payable under the Agreement pursuant to the Order Form;</dd>

                    <dt>Force Majeure Event:</dt>
                    <dd>Acts, events, omissions or accidents beyond a party's reasonable control,
                    including, without limitation, strikes, lock-outs or other industrial disputes, failure of a utility service
                    or transport or telecommunications network, act of God, war, riot, civil commotion, malicious damage,
                    fire, flood or storm;</dd>

                    <dt>Inappropriate Content:</dt>
                    <dd>Content which falls into the following categories (i) unlawful (including breach
                    of Intellectual Property Rights of any other party), harmful, threatening, defamatory, obscene,
                    infringing, harassing or racially or ethnically offensive; (ii) facilitates illegal activity; (iii) depicts
                    sexually explicit images; (iv) promotes unlawful violence; (v) is discriminatory on the grounds of race,
                    gender, colour, religious belief, sexual orientation, disability or any other illegal activity; (vi) causes
                    damage or injury to any person or property; or (vii) Content that falls into any of the following
                    categories and any other categories as may be communicated by mytender.io to the Customer from
                    time to time:
                    <ul>
                        <li>Hate: content that expresses, incites, or promotes hate based on identity.</li>
                        <li>Harassment: content that intends to harass, threaten, or bully an individual.</li>
                        <li>Violence: content that promotes or glorifies violence or celebrates the suffering or humiliation of
                        others.</li>
                        <li>Self-harm: content that promotes, encourages, or depicts acts of self-harm, such as suicide, cutting,
                        and eating disorders.</li>
                        <li>Sexual: content meant to arouse sexual excitement, such as the description of sexual activity, or that
                        promotes sexual services (excluding sex education and wellness).</li>
                        <li>Political: content attempting to influence the political process or to be used for campaigning
                        purposes.</li>
                        <li>Spam: unsolicited bulk content.</li>
                        <li>Deception: content that is false or misleading, such as attempting to defraud individuals or spread
                        disinformation.</li>
                        <li>Malware: content that attempts to generate ransomware, keyloggers, viruses, or other software
                        intended to impose some level of harm.</li>
                    </ul>
                    </dd>

                    <dt>Intellectual Property Rights:</dt>
                    <dd>Intellectual property rights including without limitation rights in patents,
                    trademarks, service marks, trade names, other trade-identifying symbols and inventions, copyrights,
                    design rights, database rights, rights in know-how, trade secrets and any other intellectual property
                    rights arising anywhere in the world, whether registered or unregistered, and including applications
                    for the grant of any such rights;</dd>

                    <dt>Minimum Term:</dt>
                    <dd>The Minimum Term for Services as specified in the Order Form during which time the
                    Agreement cannot be terminated;</dd>

                    <dt>Order Form:</dt>
                    <dd>The Order Form executed by both parties which references these Terms and details the
                    Services ordered by Customer and the Fees payable by Customer and any other additional terms in
                    respect of Customer's access to and use of the Services;</dd>

                    <dt>Services:</dt>
                    <dd>The Services purchased by Customer as set forth in the applicable Order Form and provided
                    in accordance with the Agreement, including access to the applicable mytender.io Technology for
                    such Services;</dd>

                    <dt>Services Commencement Date:</dt>
                    <dd>The date the Customer begins to access the Services;</dd>

                    <dt>Support Services:</dt>
                    <dd>The provision by mytender.io to Customer of technical advice, basic training and
                    such other assistance and support related to the use of the Services;</dd>

                    <dt>Taxes:</dt>
                    <dd>Any applicable taxes, including without limitation, withholding, sales, use, excise, value added
                    tax and similar taxes but shall not include taxes based on mytender.io's gross income;</dd>

                    <dt>Usage Policy:</dt>
                    <dd>mytender.io's Usage Policy as may be varied from time to time; and</dd>

                    <dt>Virus:</dt>
                    <dd>Anything or device (including any software, code, file or programme) which may prevent, impair
                    or otherwise adversely affect the access to or operation, reliability or user experience of any
                    computer software, hardware or network, telecommunications service, equipment or network or any
                    other service or device, including worms, trojan horses, viruses and other similar things or devices.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
{% endblock content %}