/* BidExtractor.css */

.editable:focus {
    outline: none;
}

.edit-tag {
    font-size: 14px;
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    transform: translate(-20%);
}

.edit-tag:hover {
    text-decoration: underline;
}

.title-container {
    display: flex;
    align-items: center;
}

.info-icon {
    margin-right: 10px;
    color: white;
    background-color: black;
    border-radius: 50%;
    font-size: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.info-icon::after {
    content: attr(title);
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 125%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
}

.info-icon:hover::after {
    opacity: 1;
}

.upload-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 410px;
    /* Maximum size */
    max-height: 350px;
    /* Maximum size */
    border: 2px solid orange;
    background-color: #f2f2f2;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-left: 0;
    /* Center the component */
    box-sizing: border-box;
}

.upload-rfp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
    padding: 0;
}

.upload-cross {
    font-size: 40px;
    color: gray;
}

.col-3-5 {
    flex: 0 0 28%;
    max-width: 28%;
}

.col-8-5 {
    flex: 0 0 72%;
    max-width: 72%;
}

@media (min-width: 1600px) {
    .col-3-5 {
        flex: 0 0 22%;
        max-width: 22%;
    }
    .col-8-5 {
        flex: 0 0 78%;
        max-width: 78%;
    }
}

.question-extractor-flex {
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #ced4da;
    background-color: #fff;
    transition: all 0.35s ease;
    word-wrap: break-word;
    height: 350px;
    font-weight: 450;
    overflow-y: auto;
}

.question-extractor {
    flex: 1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 10px;
    transition: all 0.35s ease;
    margin: 0;
    word-wrap: break-word;
    height: 250px;
    font-weight: 450;
    padding-top: 0;
    /* Ensure children start at the top */
}

.card-textarea {
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: black;
    resize: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    font-weight: 450;
}

.card-textarea:focus {
    outline: none;
}

.card-input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: black;
    flex: 1;
    display: flex;
    align-items: flex-start;
    /* Align text to start at the top */
}

.question-list {
    max-height: 400px;
}

.question-item {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.card-title-container {
    display: flex;
    align-items: baseline;
}

.tooltip-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    margin-left: 1.2%;
    color: darkgrey;
    transform: translateY(-10%);
}

.tooltip-text {
    visibility: hidden;
    width: 450px;
    background-color: #ededed;
    color: #4d4d4d;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 999000;
    font-size: 12px;
    bottom: 120%;
    left: 50%;
    transform: translateX(-60%);
    margin-bottom: 5px;
}

.tooltip-text-cd {
    visibility: hidden;
    width: 450px;
    background-color: #ededed;
    color: #4d4d4d;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 999000;
    font-size: 12px;
    bottom: 120%;
    margin-bottom: 5px;
    transform: translateX(-50%);
}

.tooltip-container:hover .tooltip-text-cd {
    visibility: visible;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
}

.tooltip-icon-container {
    background-color: #ededed;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 22px;
    height: 22px;
}

.tooltip-icon {
    font-size: 10px;
    color: #4d4d4d;
    z-index: 1;
    margin-right: 8%;
}

.card-effect-input-box {
    flex: 1;
    background-color: #fff;
    padding: 5px;
    padding-left: 10px;
    margin: 0;
    word-wrap: break-word;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ced4da;
}

.inputbox-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.inputbox-title {
    font-size: 16px;
    font-weight: 550;
    margin-right: 10px;
    margin-top: 10px;
    /* Adjust the space between title and input */
}

.inputbox-textarea {
    flex: 1;
    border: none;
    font-size: 16px;
    background-color: white;
    color: black;
    resize: none;
    overflow: hidden;
    /* Hide any text that overflows the textarea */
    height: 28px;
    white-space: nowrap;
    /* Prevent text from wrapping to a new line */
    text-overflow: ellipsis;
    font-weight: 450;
    /* Show ellipsis when text overflows */
}

.inputbox-textarea:focus {
    outline: none;
}

.beta-label {
    display: inline-block;
    background-color: orange;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 5px;
}

.beta-label {
    display: inline-block;
    background-color: orange;
    /* Use a distinctive color */
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 5px;
}