body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
div,
figure {
    margin: 0;
    padding: 0;
}

.App {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    min-height: 70vh;
    max-height: 87vh;
    justify-content: center !important;
    /* Center the title */
}

.App>h1 {
    margin-top: 20px;
    /* Or adjust as needed for your layout */
}

.bids-table {
    width: 90%;
    width: 90vh;
    /* Adjust to the desired width */
    margin: 20px auto;
    /* Centers the table with a margin above and below */
    border-collapse: collapse;
}

.bids-table th,
.bids-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    /* Align text to the left within cells */
}

.bids-table th {
    background-color: #f2f2f2;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.status.new {
    background-color: #007bff;
}

.status.ongoing {
    background-color: #ffc107;
}

.status.complete {
    background-color: #28a745;
}