    /* Custom modal styles */
    
    .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-top: 30px;
        padding-left: 205px;
        padding-right: 20px;
        /* Full viewport height */
    }
    
    .custom-modal-newbid .modal-dialog {
        max-width: 32%;
    }
    
    .custom-modal-newbid .modal-title {
        font-size: 1.25rem;
        /* Adjust the font size as needed */
    }
    
    .custom-modal-newbid .modal-content {
        border-radius: 10px;
    }
    
    .spinner {
        position: relative;
    }