.library-container {
    /* Align the tops of the two children */
}

.library-table {
    flex: 1;
    min-height: 50vh;
    max-height: 50vh;
    display: flex;
    /* Prevents 
    horizontal scrolling */
}

.cardbodytable {
    overflow-y: auto;
    /* Allows vertical scrolling if content overflows */
    overflow-x: hidden;
}

.upload-component {
    display: flex;
    min-height: 50vh;
    max-height: 50vh;
    /* Adjust the width of the upload component as needed */
}

.bids-table {
    width: 100%;
    /* Use 100% to fill the container */
    table-layout: fixed;
    /* Enables fixed table layout */
    margin-top: 0;
    /* Centers the table with a margin above and below */
    border-collapse: separate;
    /* Adjust for border-radius application */
    border-spacing: 0;
    /* Adjust to remove spacing between cells */
    border-radius: 8px;
    /* Rounded corners for the table */
    overflow: hidden;
    /* Ensures the rounded corners are visible */
}

.bids-table th,
.bids-table td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    /* Keep the text on a single line */
    overflow: hidden;
    /* Hide overflow content */
    text-overflow: ellipsis;
    /* Add ellipsis to overflow content */
}


/* Remove all borders from th and td */

.bids-table th,
.bids-table td {
    border: none;
    /* Remove borders from cells */
}

.bids-table thead {
    background-color: black;
    border-radius: 8px 8px 0 0;
    /* Rounded corners for the top of the table */
}

.bids-table th {
    color: white;
    background-color: black;
    /* Text color for headers */
}


/* Specifically target the Action column to make it narrower */

.bids-table th:last-child,
.bids-table td:last-child {
    width: 12%;
    /* Assign a smaller width to the Action column */
    text-align: center;
    /* Center-align the action buttons or text */
}

.pagination-controls button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: black;
    color: white;
}