.lib-container {
    width: 100%;
    /* Adjusted to account for padding-left */
    height: 92vh;
    /* Assuming 40px top margin and 30px top padding */
    margin-top: 55px;
    background-color: #f8f6f6;
    justify-content: center;
    padding-top: 10px;
    padding-left: 205px;
    padding-right: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Use auto instead of scroll to handle both overflow cases */
}

.library-container {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

.upload-component {
    display: flex;
    min-height: 50vh;
    max-height: 50vh;
    /* Adjust the width of the upload component as needed */
}

.header-container {
    margin-top: 15px;
    margin-right: 15px;
}

.library-table {
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    /* Updated for border application */
    border-spacing: 0;
    margin: 20px auto;
    overflow: hidden;
    margin-bottom: 0;
}

.library-table th,
.library-table td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ddd;
    /* Add horizontal line between rows */
}


/* Add left margin to the first column */

.library-table td:first-child,
.library-table th:first-child {
    padding-left: 16px;
    /* Increase left padding for the first column */
}

.library-table th {
    background-color: #f2f2f2;
    font-weight: 500;
    color: black;
}

.library-table th,
.library-table td {
    width: 50%;
}

.library-table td:last-child,
.library-table th:last-child {
    text-align: right;
}


/* Specifically target the Action column to make it narrower */

.library-table tr:last-child td {
    border-bottom: none;
}

.lib-custom-card {
    background-color: white;
    border: none;
    width: 100%;
    /* Remove borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.lib-custom-card-title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.lib-title {
    font-size: 22px;
    font-weight: 600;
}

.lib-custom-card .card-body {
    padding: 0px;
    /* Adjust padding as needed */
}

.fa-icon {
    margin-right: 8px;
    /* Adjust the spacing as needed */
}


/* Button with ellipsis icon */

.ellipsis-icon {
    color: black;
}

.ellipsis-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s;
    outline: none;
}

.ellipsis-button:hover {
    background-color: #f2f2f2;
    /* Slightly darker for better visibility on hover */
}

.search-bar-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    /* Adjust this value for desired max width */
    min-width: 500px;
    background-color: none;
    /* Match the search bar background */
    /* Add border to match the search bar */
    border-radius: 25px;
    /* Initial full border radius */
}

.search-bar-library {
    background-color: #333;
    /* Light black background */
    color: white;
    padding: 10px;
    padding-left: 50px;
    border-radius: 25px !important;
    /* Make the search bar pill-shaped */
    width: 100%;
    /* Ensure the input takes full width */
    outline: none;
    box-shadow: none;
    border: none !important;
    border-right: 1px white solid !important;
    /* Remove default bootstrap focus outline */
    box-sizing: border-box;
    /* Ensure padding is included in width/height calculations */
    transition: border-radius ease;
    /* Smooth transition for border radius change */
}

.search-bar-library.dropdown-visible {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.search-bar-library:focus {
    background-color: #333;
    color: white;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}

.search-bar-library::placeholder {
    color: white;
}

.search-icon {
    position: absolute;
    left: 15px;
    color: white !important;
    pointer-events: none;
    font-size: 1rem !important;
    z-index: 100;
    /* Ensure the icon is above the input field */
}

.search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 0;
    border-radius: 0 0 25px 25px !important;
    border: none !important;
    border-top: 1px gray solid !important;
}

.search-result-item {
    padding: 10px;
    padding-left: 18px;
    cursor: pointer;
    color: white;
    /* Match text color */
    background-color: #333;
    margin: 0%
}

.search-result-item:hover {
    background-color: #444;
    /* Slightly lighter for hover effect */
}

.result-icon {
    margin-right: 20px;
}

.library-card-body-content {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow: hidden;
}

.library-card-content-wrapper {
    flex: 1;
    overflow: hidden;
    margin-bottom: 1rem;
    /* Space between content and pagination */
}

.pagination-controls {
    flex-shrink: 0;
    /* Ensures the pagination doesn't shrink */
    margin-top: auto;
    display: flex;
    padding: 1rem 0;
    margin-left: 10px;
}

.pagination-controls button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}