.profile-form-label {
    font-weight: 500;
}

.profile-form-row {
    margin-bottom: 20px;
    /* Adjust the value as needed for more space */
}

.profile-form-row .form-control {
    background-color: #f5f5f5;
    /* Light grey background color */
    border: 1px solid #ddd;
    /* Optional: adds a subtle border */
    border-radius: 4px;
    /* Optional: adds slightly rounded corners */
    /* Optional: adjusts the padding for a better look */
    box-shadow: none;
    /* Removes default shadow for consistency */
}

.chatpage {
    width: 125vw;
    /* Adjusted to account for padding-left */
    height: 125vh;
}