.chat-container {
    margin-top: 0;
    width: 83vw;
    height: 100%;
    margin: 1rem;
    margin-left: 200px;
    justify-content: center;
    /* or whatever value you desire for the chatbot page */
}

.proposal-container {
    margin-top: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border: 1px dashed #000;
    justify-content: center;
}