/* Proposal.css */

.proposal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center align items vertically */
    margin-right: 180px;
    width: 100%;
    /* Add margin to the left if necessary */
}

.dropdown-container {
    display: flex;
    align-items: center;
    /* Center align items vertically */
}

.proposal-title {
    margin: 0;
    font-size: 22px;
}

.proposal-header button {
    margin-left: 10px;
    /* Add margin between buttons */
}

.proposal-container {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ced4da;
    margin-top: 0;
    padding: 0rem;
    justify-content: center;
    overflow-y: scroll;
    padding: 1%;
    height: 700px;
    margin-bottom: 20px;
}