.outline-table input[type="text"],
.outline-table input[type="number"] {
    min-width: 80px;
    border: 1px solid transparent;
    transition: all 0.2s;
}

.outline-table input[type="text"]:hover,
.outline-table input[type="number"]:hover {
    border-color: #e2e8f0;
}

.outline-table input[type="text"]:focus,
.outline-table input[type="number"]:focus {
    border-color: #3b82f6;
    outline: none;
    background-color: white;
}

.outline-table input[type="checkbox"] {
    cursor: pointer;
}

.editable-cell {
    background-color: white;
    color: black;
    width: 100%;
}

.outline-table {
    width: 100%;
    table-layout: fixed;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #ced4da;
    background-color: white;
}

.outline-table th,
.outline-table td {
    white-space: nowrap;
    overflow: hidden;
    padding: 12px;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ddd;
}

.writingplan-box {
    background-color: #f2f2f2;
    font-weight: 500;
    color: black;
}

.writingplan-text-area {
    width: 100%;
    background-color: white;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #dee2e6;
    height: 180px;
    resize: none;
    color: black;
    border-radius: 8px;
}


/* Add left margin to the first column */

.outline-table td:first-child;
.outline-table th:first-child {
    padding-left: 20px;
}

.outline-table th {
    background-color: #f2f2f2;
    font-weight: 500;
    color: black;
}


/* Specifically target the Action column to make it narrower */

.outline-table th:last-child,
.outline-table td:last-child {
    width: 12%;
    justify-content: center;
}

.outline-table tr:last-child td {
    border-bottom: none;
}

.status-not-started {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
}

.status-in-progress {
    color: #FF8C00;
    background-color: rgba(255, 140, 0, 0.1);
    border: 1px solid #FF8C00;
}

.status-complete {
    color: #228B22;
    background-color: rgba(34, 139, 34, 0.1);
    border: 1px solid #228B22;
}


/* Menu item hover states */

.status-not-started:hover,
.status-not-started:focus,
.status-not-started:active {
    background-color: rgba(0, 0, 0, 0.08) !important;
    border: 1px solid #000000 !important;
}

.status-in-progress:hover,
.status-in-progress:focus,
.status-in-progress:active {
    background-color: rgba(255, 140, 0, 0.08) !important;
    border: 1px solid #FF8C00 !important;
}

.status-complete:hover,
.status-complete:focus,
.status-complete:active {
    background-color: rgba(34, 139, 34, 0.08) !important;
    border: 1px solid #228B22 !important;
}

.relative {
    position: relative;
}

.group:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

background-color: rgba(0, 0, 0, 0.02);

}