.bid-pilot-container {
    flex: 1;
    margin: 0;
    word-wrap: break-word;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    /* Lightened border color */
    border-bottom-left-radius: 8px;
    /* Rounded bottom left corner */
    border-bottom-right-radius: 8px;
    /* Rounded bottom right corner */
    /* Ensure children start at the top */
}

.input-header {
    flex: 1;
    padding: 14px;
    border-top-left-radius: 8px;
    /* Only the top left corner rounded */
    border-top-right-radius: 8px;
    /* Only the top right corner rounded */
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: #262626;
}

.input-console {
    flex: 1;
    padding: 14px;
    border-bottom-left-radius: 8px;
    /* Only the top left corner rounded */
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    max-height: 140px;
    background-color: #262626;
}

.mini-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
}

.prompts-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.prompts-container.fade-out {
    opacity: 0;
}

.prompts {
    background-color: #262626;
}

.prompt-button {
    padding: 10px;
    border-radius: 0;
    background-color: #262626;
    color: white;
    text-align: left;
    border: 2px solid #555555;
    border-bottom: none;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    transition: font-size 0.3s ease, opacity 0.5s ease;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.prompts-container.fade-out .prompt-button {
    animation: slideOut 0.5s forwards;
}

.prompt-button:nth-child(1) {
    animation-delay: 0s;
}

.prompt-button:nth-child(2) {
    animation-delay: 0.1s;
}

.prompt-button:nth-child(3) {
    animation-delay: 0.2s;
}

.prompt-button:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.prompt-button:hover {
    font-size: 15px;
    background-color: #262626;
    border: 2px solid #555555;
    border-bottom: none;
}

.message-bubble-small {
    display: flex;
    /* Inline block to fit content */
    max-width: 80%;
    min-width: 60px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 14px;
}

.message-bubble-small.user {
    background-color: #ff9900;
    align-self: flex-end;
    border-top-right-radius: 0;
    color: white;
}

.message-bubble-small.bot {
    background-color: #f0f0f0;
    align-self: flex-start;
    border-top-left-radius: 0;
    color: black;
}

.chatResponse-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: white;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin-top: 0;
}

.bid-input-bar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #383838;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 25px;
    height: 50px;
}

.bid-input-bar input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: #383838;
    color: #ffffff;
    width: 100%
}

.bid-input-bar button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ffa500;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bid-input-bar button:hover {
    background-color: #ed9a02;
}

.bid-input-bar button svg {
    width: 16px;
    /* Adjust the size of the icon */
    height: 16px;
    /* Adjust the size of the icon */
}

.arrow-button {
    background-color: #383838;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.7rem;
    border-radius: 8px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    /* Center align items vertically */
}

.dropdown-container .arrow-button+.arrow-button {
    margin-left: 4px;
    /* Adjust this value to reduce the distance */
}

.dropdown-container .option-button+.option-button {
    margin-left: 6px;
    /* Adjust this value to reduce the distance */
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-label {
    margin-bottom: 4px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.checkbox {
    margin-right: 8px;
}

.option-button {
    background-color: #383838;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.7rem;
    border-radius: 8px;
}

.question-answer-box {
    flex: 1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 10px;
    transition: all 0.35s ease;
    margin: 0;
    word-wrap: break-word;
    height: 200px;
    /* Ensure children start at the top */
}

.response-box {
    flex: 1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 10px;
    transition: all 0.35s ease;
    margin: 0;
    word-wrap: break-word;
    height: 375px;
    /* Ensure children start at the top */
}

.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
    color: #000;
    font-weight: 600;
}

.loading-dots span {
    animation: blink 1.4s infinite both;
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.chat-dropdown .dropdown-menu {
    min-width: 350px;
    /* Adjust as necessary */
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-dropdown .dropdown-menu .dropdown-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}