.creator {
  display: flex;
  width: 140px;
  padding: 3px 5px;
  align-items: center;
}

.creator > span[class^="MuiTypography-root"] {
  font-size: 15px;
  line-height: normal;
}

.creator > *:first-child {
  margin-right: 5px;
}

.creator > img,
.creator > svg {
  min-width: 28px;
  min-height: 30px;
  width: 28px;
  height: 30px;
}

div.MuiGrid-root.shortcuts {
  margin-top: 5px;
}

.message-body__content {
  position: relative;
  --color-canvas-default: white !important;
}

.message-body__content_text li,
.message-body__content_text ol,
.message-body__content_text ul {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
