.status-dropdown {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    /* Remove default border */
    cursor: pointer;
    /* Indicate it's selectable */
}

.status-dropdown.ongoing {
    background-color: #F7AE36;
    /* Yellow for ongoing */
}

.status-dropdown.complete {
    background-color: black;
    /* Green for complete */
}

.bids-table {
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    /* Updated for border application */
    border-spacing: 0;
    margin: 20px auto;
    overflow: hidden;
    margin-bottom: 0;
}

.bids-table th,
.bids-table td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ddd;
    /* Add horizontal line between rows */
}


/* Add left margin to the first column */

.bids-table td:first-child,
.bids-table th:first-child {
    padding-left: 16px;
    /* Increase left padding for the first column */
}

.bids-table th {
    background-color: #f2f2f2;
    font-weight: 500;
    color: black;
}


/* Specifically target the Action column to make it narrower */

.bids-table th:last-child,
.bids-table td:last-child {
    width: 8%;
}

.bids-table tr:last-child td {
    border-bottom: none;
}
