.strategy-form {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #e0e0e0;
}

.adminContainer {
  width: 100%;
  /* Adjusted to account for padding-left */
  height: 100vh;
  /* Assuming 40px top margin and 30px top padding */
  margin-bottom: 0;
  background-color: white;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 40px;
  /* Use auto instead of scroll to handle both overflow cases */
}

.strategy-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.strategy-form div {
  margin: 10px 0;
}

.strategy-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.strategy-form select,
.strategy-form input[type="text"],
.strategy-form input[type="radio"] {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-top: 5px;
}

.strategy-form select[multiple] {
  height: 120px;
}

.strategy-form input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

.strategy-form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.strategy-form button:hover {
  background-color: #0056b3;
}

.load-strategy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.load-strategy select,
.load-strategy button {
  width: 48%;
  /* Makes them sit side by side with a small gap */
}

.timeSlider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex {
  display: flex;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.radio-boxes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.selection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selections {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sport-type {
  display: flex;
  align-items: center;
  gap: 20px;
}

.prompt textarea {
  width: 30vw;
  height: 10em;
  /* This will give the textarea enough space for about 5 lines of text */
}
