.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  overflow: visible;
  background: none;
}

.dashboard-card {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.dashboard-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-effect {
  flex: 1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #ced4da;
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease;
  margin: 0;
  /* Add right margin by default */
  margin-right: 10px;
  word-wrap: break-word;
}

.dashboard-card:nth-child(4n) {
  margin-right: 0 !important;
  /* Remove right margin for every 4th card */
}

.card-effect h5 {
  font-weight: 600;
}

.card-effect:hover {
  transform: translateY(5px);
}

.card-effect p {
  font-size: 14px;
}

.round_iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f58218;
  color: #fff;
  font-size: 20px;
  border-radius: 100px;
}

.task-status {
  display: flex;
  align-items: center;
}

.task-status label {
  display: flex;
  align-items: center;
}

.task-status input[type="radio"] {
  margin-right: 10px;
}

.task-table {
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  /* Updated for border application */
  border-spacing: 0;
  margin: 20px auto;
  overflow: hidden;
  margin-bottom: 0;
}

.task-table th,
.task-table td {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ddd;
  /* Add horizontal line between rows */
}

/* Add left margin to the first column */

.task-table td:first-child,
.task-table th:first-child {
  padding-left: 16px;
  /* Increase left padding for the first column */
}

.task-table th {
  background-color: #f2f2f2;
  font-weight: 500;
  color: black;
}

.task-table th,
.task-table td {
  width: 50%;
}

/* Specifically target the Action column to make it narrower */

.task-table tr:last-child td {
  border-bottom: none;
}
