.content-scaler {
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%;
    height: 85vh;
    overflow: hidden;
}

.interrogate-tender-container {
    height: 100%;
    padding: 0;
}

.interrogate-modal-dialog {
    min-width: 1000px;
    margin-bottom: 0;
    height: 0vh;
}

.interrogate-modal-content {
    height: 80vh;
}

.modal-body {
    overflow: hidden;
}

.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
    font-size: 0.8rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(70vh);
}

.nav-tabs {
    border-bottom: none;
    display: flex;
    justify-content: flex-start;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    color: #333;
    /* Default text color */
}

.nav-tabs .nav-link.active {
    border-color: #ff7f50;
    color: #ff7f50;
    font-weight: bold;
}


/* Add a subtle background effect on hover and active states */

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
    border-radius: 4px 4px 0 0;
    /* Rounded top corners */
}