.support-chat-container {
  position: fixed;
  bottom: -22%;
  right: 18px;
  z-index: 1000;
}

.chat-toggle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.chat-toggle-button:hover {
  background-color: #333;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.chat-widget {
  width: 450px;
  height: 650px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 80px;
  right: 0;
  margin: 0;
  padding: 0;
}

.chat-input {
  width: 100%;
  height: 80px;
  flex: 1;
  padding: 14px;
  display: flex;
  flex-direction: column;
  max-height: 85px;
  background-color: #262626;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.chat-header {
  width: 100%;
  height: 150px;
  background-color: #262626;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message-container {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.user-message-container {
  justify-content: flex-end;
}

.support-message-container {
  justify-content: flex-start;
}

.message {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 20px;
}

.user-message {
  background-color: orange;
  color: white;
}

.support-message {
  background-color: #f1f0f0;
  color: black;
}
