.word-count-selector {
  display: flex;
  align-items: center;
}

.word-count-input {
  width: 100px;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.word-count-input:focus {
  outline: 0;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.word-count-input:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.word-count-text {
  font-size: 17px;
  font-weight: 550;
}
