:root {
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Manrope", sans-serif;
    font-weight: 450;
    overflow: hidden !important;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 700 !important;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}


/* Set the scrollbar width */

::-webkit-scrollbar {
    width: 10px;
}


/* Adding padding to the track to prevent the thumb from touching the top and bottom */

::-webkit-scrollbar-track {
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 3px solid;
    border-color: white;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}