.custom-date-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-date-input .calendar-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  z-index: 1;
}

.custom-date-input .date-input {
  padding-right: 30px;
  width: 100%;
  cursor: pointer;
}

.custom-date-input .hidden-date-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
