body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
div,
figure {
    margin: 0;
    padding: 0;
}

.cards-container {
    display: flex;
    min-height: 70vh;
    max-height: 87vh;
    margin-top: 80px !important;
    width: 100%;
    padding: 0 !important;
    box-sizing: border-box;
    justify-content: center !important;
}

.cardcustom {
    flex: 1;
    box-sizing: border-box;
    width: 49.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.image-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 10%;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform: translateY(-10%);
}

.card-image {
    mix-blend-mode: multiply!important;
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.card-text {
    text-align: center;
}

.card-text h1 {
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .cards-container {
        flex-direction: column;
        border-radius: 15px 0 0 15px;
    }
}

.cardmini {
    background-color: white;
    padding: 120px;
    border-radius: 4px;
    max-width: 600px;
    width: 50vw;
    height: 80vh;
    margin: 40px auto;
}

.cardmini-text h2 {
    font-size: 1.6em;
    font-weight: bold;
    text-align: left;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 30px;
}

.cardmini-text p {
    text-align: left;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.input-field {
    margin-bottom: 16px;
    width: 100%;
}

.login-button {
    width: 100%;
    padding: 8px 0;
    margin-top: 16px;
    margin-bottom: 8px;
    background-color: black!important;
    color: white;
}

.login-button:hover {
    background-color: #707070;
}

.login-button:hover {
    background-color: #707070;
}