.cards-container {
  width: 125vw;
  height: 125vh;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0;
}

.cardmini {
  justify-content: center !important;
  width: 35%;
  height: auto;
  /* Adjust height to auto for better scaling */
  background-color: white;
  padding: 60px;
  /* Reduce padding for smaller screens */
  border-radius: 4px;
}

.cardmini-text h2 {
  font-size: 1.6em;
  font-weight: bold;
  text-align: left;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 30px;
}

.cardmini-text p {
  text-align: left;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.input-field {
  margin-bottom: 16px;
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 8px 0;
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: #262626 !important;
  color: white;
}

.login-button:hover {
  background-color: #707070;
}

/* Autofill styles */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

/* Responsive design */

@media (max-width: 768px) {
  .cardmini {
    width: 80%;
    padding: 40px;
    /* Further reduce padding for smaller screens */
  }
  .cardmini-text h2 {
    font-size: 1.4em;
  }
  .cardmini-text p {
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .login-button {
    padding: 6px 0;
    margin-top: 12px;
    margin-bottom: 6px;
  }
}

@media (max-width: 480px) {
  .cardmini {
    width: 90%;
    padding: 20px;
    /* Further reduce padding for very small screens */
  }
  .cardmini-text h2 {
    font-size: 1.2em;
  }
  .cardmini-text p {
    margin-top: 6px;
    margin-bottom: 15px;
  }
  .login-button {
    padding: 4px 0;
    margin-top: 10px;
    margin-bottom: 4px;
  }
}

/* Signin.css */

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  /* Center the modal vertically */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-container h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

.modal-container p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #666;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-actions button {
  margin-left: 10px;
}
