name: App or Dev Build and Deploy

on:
  push:
    branches: [main, dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: |
          if [ "${{ github.ref }}" == "refs/heads/dev" ]; then
            npm run build:dev
          else
            npm run build:prod
          fi

      - name: Set Target Directory
        run: |
          if [ "${{ github.ref }}" == "refs/heads/dev" ]; then
            echo "TARGET_DIR=/home/ec2-user/www-dev" >> $GITHUB_ENV
          else
            echo "TARGET_DIR=/home/ec2-user/www" >> $GITHUB_ENV
          fi

      - name: Deploy to Server
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOYMENT_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan 44.208.84.199 >> ~/.ssh/known_hosts
          scp -i ~/.ssh/id_rsa -r ./dist/* ec2-user@44.208.84.199:$TARGET_DIR
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOYMENT_KEY }}
